<nav class="navbar navbar-expand-lg navbar-dark text-light">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand f-b" href="#">KG Cars</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Find Your Car</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Campaigns</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Offices</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Services</a>
        </li>
      </ul>
      <button class="btn btn-dark text-light border border-secondary" type="submit">Log In</button>
    </div>
  </div>
</nav>