<footer class="site-footer mt-5">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h6>About</h6>
        <p class="text-justify">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
          voluptate nam, dolorum quibusdam id praesentium placeat eius
          voluptatibus, tenetur maxime dolorem veniam dolore quia laboriosam
          rerum laborum ipsum eos alias.
        </p>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Services</h6>
        <ul class="footer-links">
          <li>Car Rental</li>
          <li>Shuttle</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-3">
        <h6>Quick Links</h6>
        <ul class="footer-links">
          <li>About Us</li>
          <li>Contact Us</li>
          <li>Contribute</li>
          <li>Privacy Policy</li>
          <li>Sitemap</li>
        </ul>
      </div>
    </div>
    <hr />
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-6 col-xs-12">
        <p class="copyright-text">
          Copyright &copy; 2021 All Rights Reserved by <b>KG Cars</b>.
        </p>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <ul class="social-icons">
          <li>
            <a class="facebook" href="#"><i class="bi bi-facebook"></i></a>
          </li>
          <li>
            <a class="twitter" href="#"><i class="bi bi-twitter"></i></a>
          </li>
          <li>
            <a class="linkedin" href="#"><i class="bi bi-linkedin"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
