<app-sub-navi></app-sub-navi>
<div class="container">
  <h3 class="fw-bold text-center">Overview</h3>
  <div class="border-main shadow bg-white mt-3" *ngIf="dataLoaded">
    <div class="row">
      <div class="col-7">
        <div
          id="carouselExampleControls"
          class="carousel slide"
          data-bs-ride="carousel"
        >
          <div class="carousel-inner">
            <div
              class="carousel-item active"
              *ngFor="let image of car.carImages"
            >
              <img
                src="https://localhost:44389/{{ image.imagePath }}"
                class="w-100 rounded"
                alt="car-image"
              />
            </div>
          </div>
          <button
            class="carousel-control-prev"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"
          >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button
            class="carousel-control-next"
            type="button"
            data-bs-target="#carouselExampleControls"
            data-bs-slide="next"
          >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="col-5">
        <div
          class="d-flex h-100 flex-column justify-content-center align-items-center"
        >
          <span class="fw-normal h4">{{ car.brandName }}</span>
          <b class="h1 fw-bold">{{ car.carName }}</b>
          <strong class="text-danger">{{ car.modelYear }} Model</strong>
          <span class="text-muted">{{ car.description }}</span>
          <span
            class="h1 border border-dark rounded p-2 mt-4 mb-0 fw-bolder text-success"
            >{{ car.dailyPrice + ",00" }} ₺</span
          >
          <small class="mt-0 mb-2 text-secondary">*per day</small>
          <div class="d-flex flex-row border rounded mb-4 m-2 p-2">
            <div class="d-flex">
              <i class="bi bi-calendar my-auto"></i>
              <div class="d-flex flex-column px-2">
                <span class="text-secondary">Arrival</span>
                <input [(ngModel)]="rentDate" type="date"  class="w-100 d-nsone" id="datetime-local" />
              </div>
            </div>
            <div class="d-flex">
              <i class="bi bi-calendar my-auto"></i>
              <div class="d-flex flex-column px-2">
                <span class="text-secondary">Departure</span>
                <input [(ngModel)]="returnDate" type="date" class="w-100 d-nsone" id="datetime-local" />
              </div>
            </div>
          </div>
          <button (click)="goPayment(car)"  class="btn w-75 shadow-sm btn-success">
            Rent and Go! <i class="bi bi-hand-thumbs-up-fill"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
