<app-sub-navi></app-sub-navi>
<div class="container">
  <div class="checkout mt-5">
    <div class="order">
      <h2 class="text-center fw-bold">Checkout</h2>
      <img
        src="https://localhost:44389/{{ car.carImages[0].imagePath }}"
        class="w-100 rounded"
        alt="car-image"
      />
      <div class="d-flex flex-column justify-content-center align-items-center">
        <span class="fw-normal h4">{{ car.brandName }}</span>
        <b class="h1 fw-bold">{{ car.carName }}</b>
        <span
          class="h3 border border-dark rounded p-2 mt-2 mb-0 fw-bolder text-success"
          >{{ car.dailyPrice + ",00" }} ₺</span
        >
        <small class="mt-0 mb-2 text-secondary">*per day</small>
        <div
          class="d-flex flex-row justify-content-around border rounded w-100 mb-2 m-2 p-2"
        >
          <div class="d-flex">
            <i class="bi bi-calendar my-auto"></i>
            <div class="d-flex flex-column px-2">
              <span class="text-secondary fw-bold">Arrival</span>
              {{ rental.rentDate }}
            </div>
          </div>
          <div class="d-flex">
            <i class="bi bi-calendar my-auto"></i>
            <div class="d-flex flex-column px-2">
              <span class="text-secondary fw-bold">Departure</span>
              {{ rental.returnDate }}
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="text-center fw-bold">Payment</h2>
    <div id="payment" class="payment h-100">
      <div class="card">
        <div class="card-content">
          <svg
            id="logo-visa"
            enable-background="new 0 0 50 70"
            height="70px"
            version="1.1"
            viewBox="0 0 50 50"
            width="70px"
            xml:space="preserve"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
          >
            <g>
              <g>
                <polygon
                  clip-rule="evenodd"
                  fill="#f4f5f9"
                  fill-rule="evenodd"
                  points="17.197,32.598 19.711,17.592 23.733,17.592     21.214,32.598   "
                />
                <path
                  clip-rule="evenodd"
                  d="M35.768,17.967c-0.797-0.287-2.053-0.621-3.596-0.621    c-3.977,0-6.752,2.029-6.776,4.945c-0.023,2.154,1.987,3.358,3.507,4.08c1.568,0.738,2.096,1.201,2.076,1.861    c0,1.018-1.238,1.471-2.395,1.471c-1.604,0-2.455-0.232-3.773-0.787l-0.53-0.248l-0.547,3.348    c0.929,0.441,2.659,0.789,4.462,0.811c4.217,0,6.943-2.012,6.979-5.135c0.025-1.692-1.053-2.999-3.369-4.071    c-1.393-0.685-2.246-1.134-2.246-1.844c0-0.645,0.723-1.306,2.295-1.306c1.314-0.024,2.268,0.271,3.002,0.58l0.365,0.167    L35.768,17.967z"
                  fill="#f4f5f9"
                  fill-rule="evenodd"
                />
                <path
                  clip-rule="evenodd"
                  d="M46.055,17.616h-3.102c-0.955,0-1.688,0.272-2.117,1.24    l-5.941,13.767h4.201c0,0,0.688-1.869,0.852-2.262c0.469,0,4.547,0,5.133,0c0.123,0.518,0.49,2.262,0.49,2.262h3.711    L46.055,17.616 M41.1,27.277c0.328-0.842,1.609-4.175,1.609-4.175c-0.041,0.043,0.328-0.871,0.529-1.43l0.256,1.281    c0,0,0.773,3.582,0.938,4.324H41.1z"
                  fill="#f4f5f9"
                  fill-rule="evenodd"
                />
                <path
                  clip-rule="evenodd"
                  d="M13.843,17.616L9.905,27.842l-0.404-2.076    c-0.948-2.467-2.836-4.634-5.53-6.163l3.564,12.995h4.243l6.312-14.982H13.843z"
                  fill="#f4f5f9"
                  fill-rule="evenodd"
                />
                <path
                  clip-rule="evenodd"
                  d="M7.232,17.174H0.755l-0.037,0.333    c5.014,1.242,8.358,4.237,9.742,7.841l-1.42-6.884C8.798,17.507,8.105,17.223,7.232,17.174L7.232,17.174z"
                  fill="#f4f5f9"
                  fill-rule="evenodd"
                />
              </g>
            </g>
          </svg>
          <h5 class="text-light">Card Number</h5>
          <h6 id="label-cardnumber" class="fw-bold text-light mb-0">{{creditCard.creditCardNumber}}</h6>
          <div class="row">
            <div class="col-8 text-light">
              <div class="d-block">Expiration</div>
              {{creditCard.expirationDate}}
            </div>
            <div class="col-4 text-light">
              <div class="d-block">CCV</div>
              <span>{{creditCard.ccv}}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="row  px-5 mt-2">
        <div class="col-12">
          <input type="text" [(ngModel)]="creditCard.creditCardNumber" class="form-control-lg w-100" placeholder="Card Number">
        </div>
      </div>
      <div class="row  px-5 mt-2">
        <div class="col-12">
          <input type="text" class="form-control-lg w-100" [(ngModel)]="creditCard.name" placeholder="Name">
        </div>
      </div>
      <div class="row  px-5 mt-2">
        <div class="col-7">
          <input type="text" class="form-control-lg w-100" [(ngModel)]="creditCard.expirationDate" placeholder="Expiration Date">
        </div>
        <div class="col-5">
          <input type="text" class="form-control-lg w-100" [(ngModel)]="creditCard.ccv" placeholder="CCV">

        </div>
      </div>
      <button class="button-cta" (click)="rentCar()" title="Confirm your purchase">
        <span>PAY NOW</span>
      </button>
    </div>
  </div>
</div>
