<div class="car-wrapper" *ngFor="let car of cars">
  <div class="car-header">
    <span class="fw-bold d-block">{{ car.carName }}</span>
    <span class="text-muted fw-light">or similar</span>
  </div>
  <div class="car-body">
    <div class="row">
      <div class="col-4">
        <img
          src="https://localhost:44389/{{ car.carImages[0]?.imagePath }}"
          class="w-100 rounded shadow-sm"
          alt="car-image"
        />
        <span class="price bg-warning fw-bold shadow-sm">{{car.dailyPrice}} ₺</span>
      </div>
      <div class="col-8 my-auto text-muted">
        <span class="d-block my-auto fw-bold text-danger">{{car.brandName}}</span>
        <span class="d-block my-auto"><i class="bi bi-info-circle"></i> Deposit: <b>1000₺</b></span>
        <span class="d-block my-auto"><i class="bi bi-info-circle"></i> Total KM Limit: <b>1500 KM</b></span>
        <span class="d-block my-auto"><i class="bi bi-info-circle"></i> Pick-Up: <b>Ofis</b></span>
        {{ car.description }}
      </div>
    </div>
  </div>
  <div class="car-footer">
    <div class="row">
      <div class="col-4 small text-muted my-auto align-items-center d-flex justify-content-around">
        <i class="bi bi-gear m-auto"></i> Manuel
        <i class="bi bi-door-closed m-auto"></i> Gas
        <i class="bi bi-wallet2 m-auto"></i> Economy
      </div>
      <div class="col-8">
        <button class="btn w-100 btn-primary"><b><i class="bi bi-check2-circle"></i> Rent</b></button>
      </div>
    </div>
  </div>
</div>
