<div class="container mt-5">
    <div class="d-flex justify-content-between">
        <a routerLink="/" class="fw-bold"><i class="bi bi-arrow-left-circle-fill"></i> Back To Home</a>
              <button
        *ngIf="!user"
        class="btn btn-light border-secondary"
        routerLink="/login"
        type="submit"
      >
        Log In
      </button>
      <!-- <button *ngIf="user" class="btn btn-dark text-light bg-dark" routerLink="/login" type="submit">Log In</button> -->
      <div class="dropdown" *ngIf="user">
        <button
          class="btn btn-light dropdown-toggle"
          type="button"
          id="dropdownMenuButton1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          {{ user }}
        </button>
        <ul class="dropdown-menu w-100" aria-labelledby="dropdownMenuButton1">
          <li><a class="dropdown-item" routerLink="/profile"><i class="bi bi-person-circle"></i> Profile</a></li>
          <li><a class="dropdown-item" routerLink="/reservations"><i class="bi bi-journal-check"></i> Reservations</a></li>
          <li><a class="dropdown-item bg-danger text-light fw-bold" routerLink="/logout"><i class="bi bi-box-arrow-right"></i> Logout</a></li>
        </ul>
      </div>
    </div>
</div>